<html>
    <head>
        <link rel="icon" type="image/x-icon" href="https://media.discordapp.net/attachments/568793387076157443/948977845307330650/Portrail-.png?width=702&height=702">
        <title>🖤 Sobre Mi 🖤</title>
        <link rel="stylesheet" href="css.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>


          <div class="parallax-sobremi w3-display-container" id="home">


            <div class="w3-row w3-padding menu-desktop">
              <div class="w3-col w3-center" style="width:25%;"><a href="/"><h2>Inicio</h2></a></div>
              <div class="w3-col w3-center tooltip" style="width:25%;"><a href="https://www.instagram.com/amyblack.arte/" target="_blank"><h2>Amy Black</h2></a><div class="tooltiptext">Además de trabajar como diseñadora gráfica, trabajo en encargos de dibujos y retratos personalizados, bajo el nombre de mi propia marca, Amy Black.</div></div>
              <div class="w3-col w3-center dropbtn dropdown" style="width:25%;"><a style="cursor: default;"><h2>Creatividades</h2></a>
                <div class="dropdown-content">
                  <a href="industria-musical">Industria Musical</a>
                  <a href="agencias-de-medios">Agencias de Medios</a>
                  <a href="logos">Logos</a>
                </div>
              </div>
              <div class="w3-col w3-center" style="width:25%;"><a href="sobre-mi"><h2>Sobre Mi</h2></a></div>
          </div>


          <div class="w3-row menu-mobile">
            <div class="w3-col w3-center" style="width:25%;"><a href="/"><img class="iconmobile" src="img/icons/home.png"/></div>
            <div class="w3-col w3-center tooltip" style="width:25%;"><a href="https://www.instagram.com/amyblack.arte/" target="_blank"><img class="iconmobile" src="img/icons/amyblack.webp"/></div>
            <div class="w3-col w3-center dropbtn dropdown" style="width:25%;"><a style="cursor: default;"><img class="iconmobile" src="https://img.icons8.com/external-kosonicon-lineal-color-kosonicon/64/000000/external-drawing-hobbies-kosonicon-lineal-color-kosonicon.png"/></a>
              <div class="dropdown-content">
                <a href="industria-musical">Industria Musical</a>
                <a href="agencias-de-medios">Agencias de Medios</a>
                <a href="logos">Logos</a>
              </div>
            </div>
            <div class="w3-col w3-center" style="width:25%;"><a href="sobre-mi"><img class="iconmobile" src="img/icons/logo.png"/></a></div>
        </div>


            <div id="textpanel2">
              <h1 class="w3-center" style="background-color: rgba(240, 248, 255, 0); color: white;">SOBRE MI</h1><BR/>


              <h3>&nbsp;Experiencia laboral&nbsp;</h3>
              <div class="rightbox">
                <div class="rb-container">
                  <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2021-2022<br>Diseñadora en PHD
                      </div>
                      <div class="item-title">Diseñadora gráfica para PHD, agenda de medios. (Septiembre, 2021 hasta febrero,2022)</div>

                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2020-2021<br>Amy Black
                      </div>
                      <div class="item-title">Creación y desarrollo de mi propia marca: Amy Black.</div>
            
                    </li>
            
                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2020<br>Diseñadora en Melboss
                      </div>
                      <div class="item-title">Diseñadora gráfica en la empresa de música Melboss. (Enero, 2020 hasta junio,2020).</div>
            
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2019<br>Robert Capa estuvo aquí.
                      </div>
                      <div class="item-title">Ayudante en el montaje del festival: “Robert Capa estuvo aquí.”</div>
            
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2017<br>Espacio para el arte
                      </div>
                      <div class="item-title">Exposición de mis obras en “Espacio para el arte” en Torrelodones, Dirigido por: Silvia Anel.</div>
            
                    </li>
            
                  </ul>

                </div>
              </div>


              <h3>&nbsp;Formación&nbsp;</h3>
              <div class="rightbox">
                <div class="rb-container">
                  <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        Actualidad<br>Modelado 3D
                      </div>
                      <div class="item-title">Con el programa Blender.</div>
            
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2021 - Actualidad<br>Máster Marketing Digital
                      </div>
                      <div class="item-title">Máster de Marketing Digital. THE POWER MBA.</div>
            
                    </li>
            
                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2016 - 2020<br>Grado en Bellas Artes
                      </div>
                      <div class="item-title">Grado en Bellas Artes. Universidad Rey Juan Carlos. Aranjuez-Madrid.</div>
            
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                      <div class="timestamp">
                        2014 - 2016<br>Bachillerato
                      </div>
                      <div class="item-title">Bachillerato. Colegio la presentación. Madrid.</div>
            
                    </li>
            
                  </ul>
            
                </div>
              </div>
              
              
              
              <h3>&nbsp;Habilidades&nbsp;</h3>
              <lu>
                <li style="margin-left: 32px;">Artista en constante evolución y aprendizaje.</li>
                  <li style="margin-left: 32px;">Risueña, positiva, respetuosa y profesional.</li>
                  <li style="margin-left: 32px;">Creativa y constante con mi trabajo. Apasionada del mundo de las artes y del diseño.</li>
                  <li style="margin-left: 32px;">Capacidad de trabajar tanto en solitario como en grupo.</li>
                  <li style="margin-left: 32px;">Con mucha seguridad en su trabajo y sin miedo a experimentar.</li>
              </lu>
            
            </div>
            <br/><br/><br/><br/><br/>
            <style>
              #scrollTop {
                width: 64px;
                transition: all .2s;
                margin: 32px;
              }

              #scrollTop:hover {
                filter: drop-shadow(0 0 0.2rem Black);
                transition: all .2s;
              }
            </style>

<a href="#home"><img class="w3-display-bottomright" id="scrollTop" src="img/icons/up.png"/></a>

                 </div>
          </div>
          <div class="parallax-footer w3-display-container" id="home">
            <div class="w3-display-middle w3-center" style="white-space:nowrap; color: white; font-family: 'Poppins', sans-serif;">
                <a>✉ </a><a href="mailto:sarateruel98@gmail.com" style="font-size: 14px;">sarateruel98@gmail.com</a><br/><a>📞 601 11 95 58</a><br/><br/> 
                <a style="font-size: 12px;">Sara Teruel / Amy Black 2022 ©</a><br/><br/>
                <a style="font-size: 10px; font-style: italic;">Programmed and designed by<br/><a style="font-size: 11px; text-decoration: none; border: 1px solid white; border-radius: 2px; " href="https://hopedestruction.github.io/" target="_blank">&nbsp;HOPE DESTRUCTION&nbsp;</a> </a><a id="hd" style="font-size: 10px;">💔</a>
            </div>
          </div>
    </body>
</html>